In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import seaborn as sns
import matplotlib.pyplot as plt

data= pd.read_csv('C:/Users/kimbj/OneDrive/바탕 화면/김범진/가천 2학년 1학기/인공지능프로그래밍/diabetes.csv')
df=pd.DataFrame(data=data)

In [2]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [20]:
data=df.drop("Outcome", axis=1)

In [21]:
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [36]:
data2=data.drop("BMI", axis=1)

In [37]:
data2

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,0.627,50
1,1,85,66,29,0,0.351,31
2,8,183,64,0,0,0.672,32
3,1,89,66,23,94,0.167,21
4,0,137,40,35,168,2.288,33
...,...,...,...,...,...,...,...
763,10,101,76,48,180,0.171,63
764,2,122,70,27,0,0.340,27
765,5,121,72,23,112,0.245,30
766,1,126,60,0,0,0.349,47
767,1,93,70,31,0,0.315,23

In [38]:
BMI=data["BMI"]

In [39]:
BMI

0      33.6
1      26.6
2      23.3
3      28.1
4      43.1
       ...
763    32.9
764    36.8
765    26.2
766    30.1
767    30.4
Name: BMI, Length: 768, dtype: float64

In [40]:
data = pd.concat([data2, BMI], axis=1)

In [41]:
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,DiabetesPedigreeFunction,Age,BMI
0,6,148,72,35,0,0.627,50,33.6
1,1,85,66,29,0,0.351,31,26.6
2,8,183,64,0,0,0.672,32,23.3
3,1,89,66,23,94,0.167,21,28.1
4,0,137,40,35,168,2.288,33,43.1
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,0.171,63,32.9
764,2,122,70,27,0,0.340,27,36.8
765,5,121,72,23,112,0.245,30,26.2
766,1,126,60,0,0,0.349,47,30.1
767,1,93,70,31,0,0.315,23,30.4

In [94]:
X = data.iloc[:,0:7].values
y = data.iloc[:,7].values

In [95]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=0)

In [96]:
X

array([[  6.   , 148.   ,  72.   , ...,   0.   ,   0.627,  50.   ],
       [  1.   ,  85.   ,  66.   , ...,   0.   ,   0.351,  31.   ],
       [  8.   , 183.   ,  64.   , ...,   0.   ,   0.672,  32.   ],
       ...,
       [  5.   , 121.   ,  72.   , ..., 112.   ,   0.245,  30.   ],
       [  1.   , 126.   ,  60.   , ...,   0.   ,   0.349,  47.   ],
       [  1.   ,  93.   ,  70.   , ...,   0.   ,   0.315,  23.   ]])

In [98]:
y

array([33.6, 26.6, 23.3, 28.1, 43.1, 25.6, 31. , 35.3, 30.5,  0. , 37.6,
       38. , 27.1, 30.1, 25.8, 30. , 45.8, 29.6, 43.3, 34.6, 39.3, 35.4,
       39.8, 29. , 36.6, 31.1, 39.4, 23.2, 22.2, 34.1, 36. , 31.6, 24.8,
       19.9, 27.6, 24. , 33.2, 32.9, 38.2, 37.1, 34. , 40.2, 22.7, 45.4,
       27.4, 42. , 29.7, 28. , 39.1,  0. , 19.4, 24.2, 24.4, 33.7, 34.7,
       23. , 37.7, 46.8, 40.5, 41.5,  0. , 32.9, 25. , 25.4, 32.8, 29. ,
       32.5, 42.7, 19.6, 28.9, 32.9, 28.6, 43.4, 35.1, 32. , 24.7, 32.6,
       37.7, 43.2, 25. , 22.4,  0. , 29.3, 24.6, 48.8, 32.4, 36.6, 38.5,
       37.1, 26.5, 19.1, 32. , 46.7, 23.8, 24.7, 33.9, 31.6, 20.4, 28.7,
       49.7, 39. , 26.1, 22.5, 26.6, 39.6, 28.7, 22.4, 29.5, 34.3, 37.4,
       33.3, 34. , 31.2, 34. , 30.5, 31.2, 34. , 33.7, 28.2, 23.2, 53.2,
       34.2, 33.6, 26.8, 33.3, 55. , 42.9, 33.3, 34.5, 27.9, 29.7, 33.3,
       34.5, 38.3, 21.1, 33.8, 30.8, 28.7, 31.2, 36.9, 21.1, 39.5, 32.5,
       32.4, 32.8,  0. , 32.8, 30.5, 33.7, 27.3, 37.4, 21.9, 34.3, 40.6,
       47.9, 50. , 24.6, 25.2, 29. , 40.9, 29.7, 37.2, 44.2, 29.7, 31.6,
       29.9, 32.5, 29.6, 31.9, 28.4, 30.8, 35.4, 28.9, 43.5, 29.7, 32.7,
       31.2, 67.1, 45. , 39.1, 23.2, 34.9, 27.7, 26.8, 27.6, 35.9, 30.1,
       32. , 27.9, 31.6, 22.6, 33.1, 30.4, 52.3, 24.4, 39.4, 24.3, 22.9,
       34.8, 30.9, 31. , 40.1, 27.3, 20.4, 37.7, 23.9, 37.5, 37.7, 33.2,
       35.5, 27.7, 42.8, 34.2, 42.6, 34.2, 41.8, 35.8, 30. , 29. , 37.8,
       34.6, 31.6, 25.2, 28.8, 23.6, 34.6, 35.7, 37.2, 36.7, 45.2, 44. ,
       46.2, 25.4, 35. , 29.7, 43.6, 35.9, 44.1, 30.8, 18.4, 29.2, 33.1,
       25.6, 27.1, 38.2, 30. , 31.2, 52.3, 35.4, 30.1, 31.2, 28. , 24.4,
       35.8, 27.6, 33.6, 30.1, 28.7, 25.9, 33.3, 30.9, 30. , 32.1, 32.4,
       32. , 33.6, 36.3, 40. , 25.1, 27.5, 45.6, 25.2, 23. , 33.2, 34.2,
       40.5, 26.5, 27.8, 24.9, 25.3, 37.9, 35.9, 32.4, 30.4, 27. , 26. ,
       38.7, 45.6, 20.8, 36.1, 36.9, 36.6, 43.3, 40.5, 21.9, 35.5, 28. ,
       30.7, 36.6, 23.6, 32.3, 31.6, 35.8, 52.9, 21. , 39.7, 25.5, 24.8,
       30.5, 32.9, 26.2, 39.4, 26.6, 29.5, 35.9, 34.1, 19.3, 30.5, 38.1,
       23.5, 27.5, 31.6, 27.4, 26.8, 35.7, 25.6, 35.1, 35.1, 45.5, 30.8,
       23.1, 32.7, 43.3, 23.6, 23.9, 47.9, 33.8, 31.2, 34.2, 39.9, 25.9,
       25.9, 32. , 34.7, 36.8, 38.5, 28.7, 23.5, 21.8, 41. , 42.2, 31.2,
       34.4, 27.2, 42.7, 30.4, 33.3, 39.9, 35.3, 36.5, 31.2, 29.8, 39.2,
       38.5, 34.9, 34. , 27.6, 21. , 27.5, 32.8, 38.4,  0. , 35.8, 34.9,
       36.2, 39.2, 25.2, 37.2, 48.3, 43.4, 30.8, 20. , 25.4, 25.1, 24.3,
       22.3, 32.3, 43.3, 32. , 31.6, 32. , 45.7, 23.7, 22.1, 32.9, 27.7,
       24.7, 34.3, 21.1, 34.9, 32. , 24.2, 35. , 31.6, 32.9, 42.1, 28.9,
       21.9, 25.9, 42.4, 35.7, 34.4, 42.4, 26.2, 34.6, 35.7, 27.2, 38.5,
       18.2, 26.4, 45.3, 26. , 40.6, 30.8, 42.9, 37. ,  0. , 34.1, 40.6,
       35. , 22.2, 30.4, 30. , 25.6, 24.5, 42.4, 37.4, 29.9, 18.2, 36.8,
       34.3, 32.2, 33.2, 30.5, 29.7, 59.4, 25.3, 36.5, 33.6, 30.5, 21.2,
       28.9, 39.9, 19.6, 37.8, 33.6, 26.7, 30.2, 37.6, 25.9, 20.8, 21.8,
       35.3, 27.6, 24. , 21.8, 27.8, 36.8, 30. , 46.1, 41.3, 33.2, 38.8,
       29.9, 28.9, 27.3, 33.7, 23.8, 25.9, 28. , 35.5, 35.2, 27.8, 38.2,
       44.2, 42.3, 40.7, 46.5, 25.6, 26.1, 36.8, 33.5, 32.8, 28.9,  0. ,
       26.6, 26. , 30.1, 25.1, 29.3, 25.2, 37.2, 39. , 33.3, 37.3, 33.3,
       36.5, 28.6, 30.4, 25. , 29.7, 22.1, 24.2, 27.3, 25.6, 31.6, 30.3,
       37.6, 32.8, 19.6, 25. , 33.2,  0. , 34.2, 31.6, 21.8, 18.2, 26.3,
       30.8, 24.6, 29.8, 45.3, 41.3, 29.8, 33.3, 32.9, 29.6, 21.7, 36.3,
       36.4, 39.4, 32.4, 34.9, 39.5, 32. , 34.5, 43.6, 33.1, 32.8, 28.5,
       27.4, 31.9, 27.8, 29.9, 36.9, 25.5, 38.1, 27.8, 46.2, 30.1, 33.8,
       41.3, 37.6, 26.9, 32.4, 26.1, 38.6, 32. , 31.3, 34.3, 32.5, 22.6,
       29.5, 34.7, 30.1, 35.5, 24. , 42.9, 27. , 34.7, 42.1, 25. , 26.5,
       38.7, 28.7, 22.5, 34.9, 24.3, 33.3, 21.1, 46.8, 39.4, 34.4, 28.5,
       33.6, 32. , 45.3, 27.8, 36.8, 23.1, 27.1, 23.7, 27.8, 35.2, 28.4,
       35.8, 40. , 19.5, 41.5, 24. , 30.9, 32.9, 38.2, 32.5, 36.1, 25.8,
       28.7, 20.1, 28.2, 32.4, 38.4, 24.2, 40.8, 43.5, 30.8, 37.7, 24.7,
       32.4, 34.6, 24.7, 27.4, 34.5, 26.2, 27.5, 25.9, 31.2, 28.8, 31.6,
       40.9, 19.5, 29.3, 34.3, 29.5, 28. , 27.6, 39.4, 23.4, 37.8, 28.3,
       26.4, 25.2, 33.8, 34.1, 26.8, 34.2, 38.7, 21.8, 38.9, 39. , 34.2,
       27.7, 42.9, 37.6, 37.9, 33.7, 34.8, 32.5, 27.5, 34. , 30.9, 33.6,
       25.4, 35.5, 57.3, 35.6, 30.9, 24.8, 35.3, 36. , 24.2, 24.2, 49.6,
       44.6, 32.3,  0. , 33.2, 23.1, 28.3, 24.1, 46.1, 24.6, 42.3, 39.1,
       38.5, 23.5, 30.4, 29.9, 25. , 34.5, 44.5, 35.9, 27.6, 35. , 38.5,
       28.4, 39.8,  0. , 34.4, 32.8, 38. , 31.2, 29.6, 41.2, 26.4, 29.5,
       33.9, 33.8, 23.1, 35.5, 35.6, 29.3, 38.1, 29.3, 39.1, 32.8, 39.4,
       36.1, 32.4, 22.9, 30.1, 28.4, 28.4, 44.5, 29. , 23.3, 35.4, 27.4,
       32. , 36.6, 39.5, 42.3, 30.8, 28.5, 32.7, 40.6, 30. , 49.3, 46.3,
       36.4, 24.3, 31.2, 39. , 26. , 43.3, 32.4, 36.5, 32. , 36.3, 37.5,
       35.5, 28.4, 44. , 22.5, 32.9, 36.8, 26.2, 30.1, 30.4])

In [99]:
from tensorflow.keras import models
from tensorflow.keras import layers
from tensorflow.keras.optimizers import SGD,Adam

In [100]:
def build_model(): 
    model = models.Sequential()
    model.add(layers.Dense(64, activation='relu',
                           input_shape=(7,)))
    model.add(layers.Dense(64, activation='relu'))
    model.add(layers.Dense(1))
    model.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])
    return model
model = build_model() 

model.summary()

Model: "sequential_13"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_44 (Dense)            (None, 64)                512

 dense_45 (Dense)            (None, 64)                4160

 dense_46 (Dense)            (None, 1)                 65

=================================================================
Total params: 4,737
Trainable params: 4,737
Non-trainable params: 0
_________________________________________________________________

In [101]:
model_history=model.fit(x=X_train, y=y_train, epochs=10, batch_size=32,validation_data= (X_test,y_test))
y_pred = model.predict(X_test)

y_test_class = np.argmax(y_test,axis=1)
y_pred_class = np.argmax(y_pred,axis=1)

Epoch 1/10
20/20 [==============================] - 1s 14ms/step - loss: 223.7524 - mae: 9.1921 - val_loss: 34.8715 - val_mae: 4.5466
Epoch 2/10
20/20 [==============================] - 0s 4ms/step - loss: 7.8243 - mae: 1.9553 - val_loss: 2.1640 - val_mae: 1.1659
Epoch 3/10
20/20 [==============================] - 0s 7ms/step - loss: 6.2210 - mae: 1.8649 - val_loss: 4.8897 - val_mae: 1.9594
Epoch 4/10
20/20 [==============================] - 0s 7ms/step - loss: 5.0579 - mae: 1.6258 - val_loss: 1.0065 - val_mae: 0.6757
Epoch 5/10
20/20 [==============================] - 0s 4ms/step - loss: 4.3200 - mae: 1.3324 - val_loss: 0.6915 - val_mae: 0.6533
Epoch 6/10
20/20 [==============================] - 0s 4ms/step - loss: 4.5077 - mae: 1.5368 - val_loss: 5.0567 - val_mae: 2.0383
Epoch 7/10
20/20 [==============================] - 0s 4ms/step - loss: 3.8772 - mae: 1.3000 - val_loss: 1.9019 - val_mae: 1.1884
Epoch 8/10
20/20 [==============================] - 0s 5ms/step - loss: 4.2535 - mae: 1.4248 - val_loss: 31.7136 - val_mae: 5.0598
Epoch 9/10
20/20 [==============================] - 0s 4ms/step - loss: 4.9982 - mae: 1.4950 - val_loss: 0.8222 - val_mae: 0.7793
Epoch 10/10
20/20 [==============================] - 0s 4ms/step - loss: 3.9517 - mae: 1.1314 - val_loss: 0.5408 - val_mae: 0.6180
5/5 [==============================] - 0s 2ms/step

In [102]:
model.evaluate(X_test, y_test)

5/5 [==============================] - 0s 3ms/step - loss: 0.5408 - mae: 0.6180

[0.5407727956771851, 0.6179772019386292]